
@{
    ViewData["Title"] = "Ccliente";
}


<h2>Consultas</h2>

<div>
    <a class="btn btn-default btn-group-lg" href="../Pedidos/Index">Pedidos</a>

    <a class="btn btn-default btn-group-lg" href="../Facturacion/Index">Facturacion</a>

    <a class="btn btn-default btn-group-lg" href="../Declaracion/Index">Declaracion</a>

    <a class="btn btn-default btn-group-lg" href="../Entrega/Index">Entregas</a>

    <a class="btn btn-default btn-group-lg" href="../Envio/Index">Envios</a>


</div>