
@{
    ViewData["Title"] = "Index";
}

<h2>Consultas para Empleados</h2>

<div>
    <a class="btn btn-default btn-group-lg" href="../Clientes/index">Clientes</a>

    <a class="btn btn-default btn-group-lg" href="../Pedidos/Index">Pedidos</a>

    <a class="btn btn-default btn-group-lg" href="../Facturacion/Index">Facturaciones</a>

    <a class="btn btn-default btn-group-lg" href="../Declaracion/Index">Declaraciones</a>

    <a class="btn btn-default btn-group-lg" href="../Entrega/Index">Entregas</a>

    <a class="btn btn-default btn-group-lg" href="../Envio/Index">Envios</a>

    <a class="btn btn-default btn-group-lg" href="../Mantenimiento/Index">Matenimientos</a>

    <a class="btn btn-default btn-group-lg" href="../Reportes/Index">Reportes</a>

</div>