
@{
    ViewData["Title"] = "Index";
}

<h2>Usuario</h2>

<a class="btn btn-default btn-group-lg" href="../Perfiles/LoginCliente">Cliente</a>


<a class="btn btn-default btn-group-lg" href="../Perfiles/LoginEmpleado">Empleados</a>

