@model IEnumerable<Sistema_Aduanero.Models.Clientes>

@{
    ViewData["Title"] = "PerfilCliente";
}

<h2>Perfil del Cliente</h2>


<div class="row">
    <div class="col-md-8">

        <a class="btn btn-primary btn-lg" href="../Consulta/Ccliente">Consultas</a>
        <a class="btn btn-primary btn-lg" href="../Reportes/Index">Reportes</a>
      
        <a class="btn btn-primary btn-lg" href="../Facturacion/Index">Facturacion</a>
        <a class="btn btn-primary btn-lg" href="../Servicios/Prueba">Servicios</a>
    </div>

   
</div>


