@model Sistema_Aduanero.Models.Empleados;

@{
    ViewData["Title"] = "PerfilEmploy";
}

<h2>Perfil de Empeado</h2>


<div class="row">
    <div class="col-md-6">
        <a class="btn btn-primary btn-lg" href="../Consulta/Cempleado">Consultas</a>
        <a class="btn btn-primary btn-lg" href="../Reportes/Index">Reportes</a>
        
        <a class="btn btn-primary btn-lg" href="../Facturacion/Index">Facturacion</a>
        <a class="btn btn-primary btn-lg" href="../Mantenimiento/Index">Mantenimiento</a>
    </div>

</div>




