
@{
    ViewData["Title"] = "Exportacion";
}


<h2>Servicios de Pedidos</h2>



<img class="img-responsive logo-Servicio" src="~/images/logo-noticias.jpg" />
<br />
<h3>Informacion</h3>


<div class="row">

    <div class="col-md-3">
        <img class="img-responsive" src="~/images/expo.PNG" width="250" />
    </div>

    <div class="col-md-5">
        <h4>Exportacion</h4>
        <p>
            La Dirección General de Aduanas trabaja para facilitar el comercio de la República Dominicana
            con el resto del mundo, con la aplicación simultánea de las medidas de control, la recaudación
            eficiente y el cumplimiento de los acuerdos internacionales, teniendo como fundamento la transparencia
            de los procesos, acorde con las mejores prácticas globales de la administración aduanera.
        </p>
    </div>

    <div class="col-md-4">
        <h4>Informacion</h4>
        <br />
        <a class="btn btn-default" href="../Servicios/Index">General</a>
        <br />
        <a class="btn btn-default" href="../Servicios/Exportacion">Exportacion</a>
        <br />
        <a class="btn btn-default" href="../Servicios/Importacion">Importacion</a>
    </div>



    <div>
        <h3>Para Realizar los Pedidos de Servicios</h3>
        <a class="btn btn-default" href="../Pedidos/Exportacion">Exportacion</a>
    </div>
</div>
