
@{
    ViewData["Title"] = "Index";
}

<h2>Servicios de Pedidos</h2>

<img class="img-responsive logo-Servicio" src="~/images/logo-noticias.jpg" />
<br />

<div class="row">

    <div class="col-md-2">
        <img class="img-responsive" src="~/images/General.PNG" width="200" />
    </div>

    <div class="col-md-5">
        <h4>General</h4>
        <p>
            La Dirección General de Aduanas trabaja para facilitar el comercio de la República Dominicana
            con el resto del mundo, con la aplicación simultánea de las medidas de control, la recaudación
            eficiente y el cumplimiento de los acuerdos internacionales, teniendo como fundamento la transparencia
            de los procesos, acorde con las mejores prácticas globales de la administración aduanera.
        </p>
    </div>

    <div class="col-md-3">
        <h4>Informacion</h4>
        <br />
        <a class="btn btn-default" href="../Servicios/Index">General</a>
        <br />
        <a class="btn btn-default" href="../Servicios/Exportacion">Exportacion</a>
        <br />
        <a class="btn btn-default" href="../Servicios/Importacion">Importacion</a>
    </div>

    <div class="col-md-12">
        <h3>Para Realizar los Pedidos de Servicios</h3>

        <section class="btn btn-default">
            <option value="../Pedidos/Importacion">Importacion</option>
            <option value="../Pedidos/Importacion">Exportaccion</option>
        </section>

    </div>
</div>
