
@{
    ViewData["Title"] = "Prueba";
}

<h2>Servicios</h2>


<div class="row fila_servicios_de_importacion">
    <div class="col-md-6">
        <h1>
            Servicios de Importación
        </h1>
        <p></p>
        <p>
            <span>Servicios express de importación</span> a su país con una amplia gama de opciones de entrega de <b>GATEWAY TO THE WORLD</b>,
            desde entregas con horario urgente garantizadas para el día siguiente hasta opciones menos
            urgente de entrega con fecha determinada.
        </p>
        <p>
            Conectado con el mundo, el país es recipiente de un importante volumen de productos e insumos
            que provienen del exterior. Todo importador debe cumplir con las regulaciones legales dominicanas
            y las estipulaciones de los acuerdos internacionales, contingentes arancelarios, etc. Para su
            orientación, puede consultar aquí la información relacionada.
        </p>

    </div>
    <div class="col-md-6 btn_solicitud_servicio_importacion">
        <a href="../Pedidos/Importacion" class="btn btn-info btn-block btn_servicio_importacion">Solicitar Servicio de Importación</a>
    </div>
</div>

<hr>

<div class="row fila_servicios_de_exportacion">
    <div class="col-md-6">
        <h1>
            Servicios de Exportación
        </h1>
        <p>
            Son servicios Express a otro país con opciones de envío
            versátiles y confiables, desde envíos garantizados para
            el día siguiente con horario predeterminado hasta opciones
            menos urgentes con horario predeterminado.
        </p>
        <p>
            La Dirección General de Aduanas trabaja para facilitar el comercio de la República Dominicana
            con el resto del mundo, con la aplicación simultánea de las medidas de control, la recaudación
            eficiente y el cumplimiento de los acuerdos internacionales, teniendo como fundamento la transparencia
            de los procesos, acorde con las mejores prácticas globales de la administración aduanera.
        </p>
    </div>
    <div class="col-md-6 btn_solicitud_servicio_exportacion">
        <a href="../Pedidos/Exportacion" class="btn btn-info btn-block btn_servicio_exportacion">Solicitar Servicio de Exportación</a>
    </div>
</div>